* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}
body {padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  align-self: center;
}

.container {
  flex: 0 0 auto;
  overflow: hidden;
  object-fit: contain;
  content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  inline-size: auto;
}

main > * {
  flex: 0 0 auto;
}
/* Title and Buttons and Footer */
h1 {
  color: blueviolet;
  font-family: Impact;
  align-content: center;
  position: relative;
  font-weight: bolder;
  border-radius: 2px;
  border-color: darkolivegreen;
}
button {
  display: flex;
  display: inline;
  size: 30px;
  background-color: cyan;
}
footer {
  color: white;
  size: bold;
}

#canvas {
  background-image: url(PixelSpaceRage/PixelBackgroundSeamlessVertically.png);
}

/* Background Image behind the Canvas */
body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}


